.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page p {
  transform: scale(0);
  font-size: 88px;
  transition: transform 1s ease-out;
}
.page p.fade-in {
  transform: scale(1);
}
